<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lighting.framework.system.mapper.AccountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lighting.framework.system.domain.Account">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="salt" property="salt" />
        <result column="user_id" property="userId" />
        <result column="name" property="name" />
        <result column="gender" property="gender" />
        <result column="portrait" property="portrait" />
        <result column="telephone" property="telephone" />
        <result column="email" property="email" />
        <result column="state" property="state" />
        <result column="creater" property="creater" />
        <result column="create_time" property="createTime" />
        <result column="updater" property="updater" />
        <result column="update_time" property="updateTime" />
        <result column="default_role" property="defaultRole" />
        <result column="department_code" property="departmentCode" />
        <result column="role_id" property="roleId" />
    </resultMap>


    <resultMap id="user2rolesBaseResultMap" type="com.lighting.framework.system.domain.AccountAndRole">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="salt" property="salt" />
        <result column="user_id" property="userId" />
        <result column="name" property="name" />
        <result column="gender" property="gender" />
        <result column="portrait" property="portrait" />
        <result column="telephone" property="telephone" />
        <result column="email" property="email" />
        <result column="state" property="state" />
        <result column="creater" property="creater" />
        <result column="create_time" property="createTime" />
        <result column="updater" property="updater" />
        <result column="update_time" property="updateTime" />
        <result column="default_role" property="defaultRole" />
        <result column="department_code" property="departmentCode" />
        <collection property="roleList" ofType="com.lighting.framework.system.domain.Role">
            <id column="r_id" property="id" />
            <result column="r_name" property="name" />
            <result column="r_description" property="description" />
            <result column="r_creater" property="creater" />
            <result column="r_create_time" property="createTime" />
            <result column="r_updater" property="updater" />
            <result column="r_update_time" property="updateTime" />
        </collection>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, username, password, salt, name, gender, portrait, telephone, email, state, creater, create_time, updater, update_time, default_role, department_code, org_code, role_id
    </sql>
	<select id="findAccountByUserName" resultMap="BaseResultMap" parameterType="string">
		select 
		<include refid="Base_Column_List"></include>
		from sys_account where username = #{username}
	</select>

    <!--根据用户id查询角色集合-->
    <select id="getRoleListByAccountId" resultMap="user2rolesBaseResultMap">
        select
        sys_account.*,
        sys_role.id as r_id,
        sys_role.name as r_name,
        sys_role.description as r_description,
        sys_role.creater as r_creater,
        sys_role.create_time as r_create_time,
        sys_role.updater as r_updater,
        sys_role.update_time as r_update_time
        from sys_account ,
        sys_role
        where sys_role.id = sys_user.role_id and sys_user.id = #{uid}
    </select>
  <!--  <select id="getRoleListByUserId" resultMap="user2rolesBaseResultMap">
        select
        sys_user.*,
        sys_role.id as r_id,
        sys_role.name as r_name,
        sys_role.description as r_description,
        sys_role.creater as r_creater,
        sys_role.create_time as r_create_time,
        sys_role.updater as r_updater,
        sys_role.update_time as r_update_time
        from sys_user ,
        sys_role
        where sys_role.id = sys_user.role_id and sys_user.id = #{uid}
    </select>-->
</mapper>
