<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lighting.framework.system.mapper.ResourceRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lighting.framework.system.domain.ResourceRole">
        <id column="id" property="id" />
        <result column="resource_id" property="resourceId" />
        <result column="role_id" property="roleId" />
        <result column="creater" property="creater" />
        <result column="create_time" property="createTime" />
        <result column="updater" property="updater" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, resource_id, role_id, creater, create_time, updater, update_time
    </sql>
    <!-- 根据角色id删除资源 -->
    <delete id="removeByRoleId" parameterType="java.lang.String">
		DELETE FROM sys_resource_role
		WHERE role_id = #{role_id}
	</delete>
</mapper>
