<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lighting.framework.system.mapper.RoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lighting.framework.system.domain.Role">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="description" property="description" />
        <result column="creater" property="creater" />
        <result column="create_time" property="createTime" />
        <result column="updater" property="updater" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, description, creater, create_time, updater, update_time
    </sql>
   <!--根据用户查询角色-->
    <select id="getRoleListByUserId" resultMap="BaseResultMap">
        select
        sys_role.*
        from sys_user ,
        sys_role
        where sys_role.id = sys_user.role_id and sys_user.id = #{uid}
    </select>
</mapper>
