<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lighting.framework.system.mapper.UserInfoMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap"
		type="com.lighting.framework.system.domain.UserInfo">
		<result column="id" property="id" />
		<result column="name" property="name" />
		<result column="sex" property="sex" />
		<result column="brithdy" property="brithdy" />
		<result column="tel" property="tel" />
		<result column="post" property="post" />
		<result column="age" property="age" />
		<result column="creater" property="creater" />
		<result column="create_time" property="createTime" />
		<result column="updater" property="updater" />
		<result column="update_time" property="updateTime" />
		<result column="isdel" property="isdel" />
	</resultMap>

	<!-- 通用查询结果列 -->
	<sql id="Base_Column_List">
		id, name, sex, brithdy, tel, post, age, creater, create_time, updater,
		update_time, isdel
	</sql>

</mapper>
